// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.logged-in {
    text-align: center;
    height: inherit;
    padding: 5px;
}

.logged-in a {
  padding: 0 !important;
  color: royalblue !important;
}

.fake-butt a {
  color: royalblue !important;
}